extends ./layout.jade

block title
  title User ##{user.id}
  
block content
  h1 User :#{user.username}
  li
    p First Name: #{user.first_name}
  li
    p Last Name: #{user.last_name}
  li
    p Email: #{user.email}
  li
    p Username: #{user.username}
  li
    p Password: #{user.password}
  
  show-user-info(the-user="#{JSON.stringify(user.username)}")
